In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', None)
pd.set_option('max_colwidth', None)

In [2]:
# set directory path where CSV files are located
folder_path = 'C:/Users/Michael/OneDrive/Documents/MTech/MTech EBAC/GC - Analytics Project Management/Practice Project/Data Sets/Drafts/sgcharts/csv/For project use - updated (all)'

# Define column names for the dataframe
col_names = ['cum_case_count', 'address', 'latitude', 'longitude', 'cluster_no', 'recent_cases_per_cluster', 'total_cases_per_cluster', 'date', 'month']

# Initialize an empty list to store dataframes
df_list = []

# Loop through all CSV files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path, header=None, names=col_names)
        df_list.append(df)

# Concatenate all dataframes into one
dengue_cases = pd.concat(df_list, axis=0)

In [3]:
# Convert date to datetime
dengue_cases['date'] = pd.to_datetime(dengue_cases['date'], format='%y%m%d')

In [8]:
# Check for duplicates
dengue_cases[dengue_cases[['address', 'date']].duplicated(keep = False)].sort_values(by = ['address', 'date']).head(50)

      cum_case_count                           address  latitude   longitude  cluster_no  recent_cases_per_cluster  total_cases_per_cluster       date  month
173                1                     ah soo garden  1.350317  103.883956           6                         6                       58 2014-08-08      8
190                1                     ah soo garden  1.350317  103.883956           8                         3                       35 2014-08-08      8
174                1                     ah soo garden  1.350317  103.883956           6                         2                       58 2014-08-12      8
191                1                     ah soo garden  1.350317  103.883956           8                         3                       38 2014-08-12      8
92                 5                     amber gardens  1.300853  103.897672           9                         5                        5 2014-05-02      5
108                1                     amber gardens  1.300853  103.897672          15                         1                        3 2014-05-02      5
693                1  ang mo kio avenue 10 (block 472)  1.363185  103.858097          78                         3                        5 2019-07-26      7
694                1  ang mo kio avenue 10 (block 472)  1.363185  103.858097          78                         3                        5 2019-07-26      7
101                2               ang mo kio avenue 2  1.372733  103.833172           9                        14                       43 2020-05-22      5
386                2               ang mo kio avenue 2  1.372733  103.833172          50                         4                        6 2020-05-22      5
134                3               ang mo kio avenue 2  1.372733  103.833172          10                        15                       51 2020-05-29      5
443                2               ang mo kio avenue 2  1.372733  103.833172          53                         5                        8 2020-05-29      5
165                4               ang mo kio avenue 2  1.372733  103.833172          11                         9                       57 2020-06-05      6
520                2               ang mo kio avenue 2  1.372733  103.833172          60                         4                        8 2020-06-05      6
0                  1                    aroozoo avenue  1.355074  103.884754           1                        22                      147 2014-06-13      6
107                1                    aroozoo avenue  1.355074  103.884754           9                         3                       21 2014-06-13      6
0                  1                    aroozoo avenue  1.355074  103.884754           1                         5                      169 2014-07-01      7
136                1                    aroozoo avenue  1.355074  103.884754          12                         4                       29 2014-07-01      7
164                3                    balestier road  1.323457  103.852101          38                        -1                        3 2013-09-13      9
165                2                    balestier road  1.323457  103.852101          39                        -1                        3 2013-09-13      9
86                 5                    balestier road  1.323457  103.852101          11                         5                        8 2013-11-25     11
141                2                    balestier road  1.323457  103.852101          30                         3                        3 2013-11-25     11
29                11                    balestier road  1.323457  103.852101           4                        15                       23 2013-12-09     12
108                1                    balestier road  1.323457  103.852101          33                         2                        2 2013-12-09     12
12                13                    balestier road  1.323457  103.852101           2                        16                       33 2013-12-16     12
92                 1                    balestier road  1.323457  103.852101          21                         2                        3 2013-12-16     12
82                 3                    balestier road  1.323457  103.852101          17                         5                        5 2014-01-10      1
143                1                    balestier road  1.323457  103.852101          40                         1                        2 2014-01-10      1
19                 2                    balestier road  1.323457  103.852101           3                         3                        6 2018-06-11      6
27                 1                    balestier road  1.323457  103.852101           5                         2                        4 2018-06-11      6
674                6                    balestier road  1.323457  103.852101          37                         9                       44 2020-07-03      7
1195               2                    balestier road  1.323457  103.852101          93                         3                       13 2020-07-03      7
1620               1                    balestier road  1.323457  103.852101          86                         3                       10 2020-09-18      9
1680               1                    balestier road  1.323457  103.852101          95                         7                        8 2020-09-18      9
1802               2                    balestier road  1.323457  103.852101         124                         4                        5 2020-09-18      9
11                 1              bedok north avenue 4  1.335114  103.943546           2                         2                       13 2015-08-21      8
72                 2              bedok north avenue 4  1.335114  103.943546          24                         1                        2 2015-08-21      8
17                 1       bedok north road (block 76)  1.328248  103.941615           2                        25                      118 2014-10-03     10
18                 1       bedok north road (block 76)  1.328248  103.941615           2                        25                      118 2014-10-03     10
17                 1       bedok north road (block 76)  1.328248  103.941615           2                         9                      119 2014-10-07     10
18                 1       bedok north road (block 76)  1.328248  103.941615           2                         9                      119 2014-10-07     10
22                39              bedok reservoir road  1.336963  103.921144           1                        -1                      146 2013-10-30     10
161                1              bedok reservoir road  1.336963  103.921144          15                        -1                        6 2013-10-30     10
22                40              bedok reservoir road  1.336963  103.921144           1                        -1                      147 2013-11-04     11
125                1              bedok reservoir road  1.336963  103.921144          16                        -1                        6 2013-11-04     11
78                 1                        bedok road  1.326528  103.951255          10                         5                        6 2019-01-07      1
120                1                        bedok road  1.326528  103.951255          24                         2                        2 2019-01-07      1
107                1                        bedok road  1.326528  103.951255          12                         3                        7 2019-01-14      1
196                1                        bedok road  1.326528  103.951255          41                         2                        2 2019-01-14      1
271               17                     begonia drive  1.387103  103.862363          15                        15                       49 2019-08-08      8

In [5]:
# Double checking if each address corresponds to each longitude and latitude point
a = dengue_cases.groupby(['address', 'date']).sum().reset_index()
print(a.shape)
b = dengue_cases.groupby(['address', 'date', 'longitude', 'latitude']).sum().reset_index()
print(b.shape)

(72916, 9)
(72916, 9)

In [11]:
# Aggregating sum of dengue cases to address and date
dengue_cases_sum = dengue_cases[['address', 'date', 'cum_case_count']].groupby(['address', 'date']).sum().reset_index()
dengue_cases_first = dengue_cases[['address', 'date', 'latitude', 'longitude', 'cluster_no', 'recent_cases_per_cluster', 'total_cases_per_cluster', 'month']].groupby(['address', 'date']).first().reset_index()

dengue_cases = pd.merge(dengue_cases_sum, dengue_cases_first, on = ['address', 'date'], how = 'left')

In [12]:
dengue_cases.shape

(72916, 9)

In [13]:
dengue_cases.head(50)

                         address       date  cum_case_count  latitude   longitude  cluster_no  recent_cases_per_cluster  total_cases_per_cluster  month
0            70 hougang avenue 7 2013-09-13               1  1.372953  103.900304          73                        -1                        2      9
1      adis road (liv on sophia) 2020-05-29               4  1.301174  103.848036          33                        12                       15      5
2      adis road (liv on sophia) 2020-06-05               5  1.301174  103.848036          22                        24                       30      6
3      adis road (liv on sophia) 2020-07-03               9  1.301174  103.848036          17                        31                       84      7
4      adis road (liv on sophia) 2020-08-07               9  1.301174  103.848036          20                         9                      125      8
5        adis road (parc sophia) 2020-05-29               1  1.301434  103.847634          33                        12                       15      5
6        adis road (parc sophia) 2020-06-05               4  1.301434  103.847634          22                        24                       30      6
7        adis road (parc sophia) 2020-07-03               8  1.301434  103.847634          17                        31                       84      7
8        adis road (parc sophia) 2020-08-07               9  1.301434  103.847634          20                         9                      125      8
9   admiralty drive (block 353a) 2020-01-24               1  1.450736  103.818944          42                         1                        4      1
10  admiralty drive (block 353b) 2016-05-09               1  1.450170  103.819322          32                         2                        2      5
11  admiralty drive (block 353c) 2014-07-14               1  1.449818  103.819328          77                         2                        2      7
12  admiralty drive (block 354a) 2014-07-14               1  1.450074  103.818735          77                         2                        2      7
13  admiralty drive (block 354c) 2019-04-29               1  1.450626  103.818228          23                         1                        2      4
14  admiralty drive (block 354c) 2019-05-06               1  1.450626  103.818228          24                         1                        2      5
15  admiralty drive (block 354d) 2015-09-25               1  1.450828  103.818455          36                         2                        2      9
16  admiralty drive (block 354d) 2015-09-28               1  1.450828  103.818455          36                         1                        2      9
17  admiralty drive (block 356b) 2016-04-11               1  1.449216  103.817353          45                         1                        2      4
18  admiralty drive (block 356c) 2013-10-30               3  1.449176  103.817751          32                        -1                        3     10
19  admiralty drive (block 356c) 2013-11-04               3  1.449176  103.817751          29                        -1                        3     11
20   admiralty drive (block 357) 2016-08-01               1  1.449889  103.816468           2                         7                       61      8
21   admiralty drive (block 357) 2016-08-10               2  1.449889  103.816468           2                         7                       68      8
22  admiralty drive (block 357a) 2014-07-14               3  1.450093  103.817001          58                         2                        3      7
23  admiralty drive (block 357a) 2015-12-21               1  1.450093  103.817001          32                         3                        3     12
24  admiralty drive (block 357a) 2015-12-28               1  1.450093  103.817001          22                         2                        4     12
25  admiralty drive (block 357a) 2016-06-06               1  1.450093  103.817001           3                         7                       28      6
26  admiralty drive (block 357a) 2016-06-13               1  1.450093  103.817001           2                         7                       31      6
27  admiralty drive (block 357a) 2016-06-20               1  1.450093  103.817001           2                         6                       38      6
28  admiralty drive (block 357a) 2016-06-30               1  1.450093  103.817001           1                         3                       42      6
29  admiralty drive (block 357a) 2016-07-04               1  1.450093  103.817001           1                         2                       42      7
30  admiralty drive (block 357a) 2016-07-12               1  1.450093  103.817001           3                         4                       46      7
31  admiralty drive (block 357a) 2016-07-18               1  1.450093  103.817001           3                         3                       48      7
32  admiralty drive (block 357a) 2016-07-26               1  1.450093  103.817001           2                         3                       54      7
33  admiralty drive (block 357a) 2016-08-01               1  1.450093  103.817001           2                         7                       61      8
34  admiralty drive (block 357a) 2016-08-10               2  1.450093  103.817001           2                         7                       68      8
35  admiralty drive (block 357a) 2019-07-02               1  1.450093  103.817001         104                         2                        2      7
36  admiralty drive (block 357b) 2015-12-21               1  1.450471  103.817361          32                         3                        3     12
37  admiralty drive (block 357b) 2015-12-28               1  1.450471  103.817361          22                         2                        4     12
38  admiralty drive (block 357b) 2016-08-10               1  1.450471  103.817361           2                         7                       68      8
39  admiralty drive (block 357b) 2020-01-03               1  1.450471  103.817361          58                         2                        2      1
40  admiralty drive (block 357b) 2020-01-24               1  1.450471  103.817361          42                         1                        4      1
41  admiralty drive (block 357c) 2015-12-28               1  1.449811  103.817568          22                         2                        4     12
42   admiralty drive (block 359) 2016-04-11               1  1.449739  103.815939          45                         1                        2      4
43   admiralty drive (block 359) 2016-06-06               1  1.449739  103.815939           3                         7                       28      6
44   admiralty drive (block 359) 2016-06-13               1  1.449739  103.815939           2                         7                       31      6
45   admiralty drive (block 359) 2016-06-20               1  1.449739  103.815939           2                         6                       38      6
46   admiralty drive (block 359) 2016-06-30               1  1.449739  103.815939           1                         3                       42      6
47   admiralty drive (block 359) 2016-07-04               1  1.449739  103.815939           1                         2                       42      7
48   admiralty drive (block 359) 2016-07-12               1  1.449739  103.815939           3                         4                       46      7
49   admiralty drive (block 359) 2016-07-18               1  1.449739  103.815939           3                         3                       48      7

In [15]:
# Get case_count from cum_case_count
# Reset the cumulative count after 21 days (no. of days to be under surveillance before alert level can be changed to Green)? Discuss! (to reduce false negatives in below logic)

dengue_cases['address'] = dengue_cases['address'].str.lower()
dengue_cases.sort_values(by=['address','latitude','longitude','date'], inplace = True)

dengue_cases['prev_cum_case_count'] = dengue_cases.groupby(['address','latitude','longitude'])['cum_case_count'].shift(1)
dengue_cases['prev_date'] = dengue_cases.groupby(['address','latitude','longitude'])['date'].shift(1)

dengue_cases['diff'] = dengue_cases['cum_case_count'] - dengue_cases['prev_cum_case_count']
dengue_cases['case_count'] = np.where((dengue_cases['diff'] >= 0) & ((dengue_cases['date'] - dengue_cases['prev_date']).dt.days <= 21), dengue_cases['cum_case_count'] - dengue_cases['prev_cum_case_count'], dengue_cases['cum_case_count'])

dengue_cases.drop(columns = ['prev_cum_case_count', 'diff', 'prev_date'], inplace = True)
dengue_cases['case_count'] = dengue_cases.case_count.astype('int64')

In [16]:
dengue_cases = dengue_cases.reset_index(drop = True).copy()

In [17]:
dengue_cases.shape

(72916, 10)

In [18]:
dengue_cases.latitude.nunique()

10606

In [19]:
dengue_cases.head()

                     address       date  cum_case_count  latitude   longitude  cluster_no  recent_cases_per_cluster  total_cases_per_cluster  month  case_count
0        70 hougang avenue 7 2013-09-13               1  1.372953  103.900304          73                        -1                        2      9           1
1  adis road (liv on sophia) 2020-05-29               4  1.301174  103.848036          33                        12                       15      5           4
2  adis road (liv on sophia) 2020-06-05               5  1.301174  103.848036          22                        24                       30      6           1
3  adis road (liv on sophia) 2020-07-03               9  1.301174  103.848036          17                        31                       84      7           9
4  adis road (liv on sophia) 2020-08-07               9  1.301174  103.848036          20                         9                      125      8           9

In [20]:
dengue_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72916 entries, 0 to 72915
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   address                   72916 non-null  object
 1   date                      72916 non-null  datetime64[ns]
 2   cum_case_count            72916 non-null  int64
 3   latitude                  72916 non-null  float64
 4   longitude                 72916 non-null  float64
 5   cluster_no                72916 non-null  int64
 6   recent_cases_per_cluster  72916 non-null  int64
 7   total_cases_per_cluster   72916 non-null  int64
 8   month                     72916 non-null  int64
 9   case_count                72916 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(1)
memory usage: 5.6+ MB

In [38]:
#Export out to compiled CSV
dengue_cases.to_csv(r'C:/Users/Michael/OneDrive/Documents/MTech/MTech EBAC/GC - Analytics Project Management/Practice Project/Data Sets/dengue_cases_new.csv', index = False)